@import '../base/all';
@import '../variables/all';
.copyright {
    font-size: 1rem;
    color: color(text, light);
    span {
        display: inline;
    }
    a {
        color: inherit;
        text-decoration: underline;
    }
}

footer {
    padding-top: 14px;
    text-align: center;
    @include mq(desktop, min-width) {
        text-align: initial;
    }
}

.footer-container {
    margin: 0 10%;
}

.footer-navigation {
    padding: .5em 0 1em 0;
    margin: 0;
    text-align: right;
    li {
        font-size: 1rem;
        list-style: none;
        display: inline-block;
        line-height: 1.5;
        padding: 0 2px;
        @include mq(desktop, min-width) {
            padding: 0 8px;
        }
    }
    a {
        color: color(text, base);
        &:hover {
            color: color(text, light);
        }
    }
}