// Breakpoint Variables

$xxsm: 320px;
$sm: 480px;
$tablet: 768px;
$desktop: 1024px;
$xldesktop: 1440px;

// Breakpoint Map

$breakpoints: (
    xldesktop: $xldesktop,
    desktop: $desktop,
    tablet: $tablet,
    mobile: $sm,
    xxsmobile: $xxsm
);

@mixin mq($breakpoint, $size) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);

        @media($size: $value) {
            @content;
        }
    } @else {
        @warn "Breaking - Unknown `#{$breakpoint}` in $breakpoints";
    }
}