$atiza: "Atiza Text";
$calluna: "calluna-sans";
$serif: Georgia, serif;
$sans-serif: Helvetica, Arial, sans-serif;

.headline {
    margin: 0 0 3rem 0;
    font-family: $atiza, $serif;
}

.subheadline {
    margin: 0 0 2rem 0;
    text-transform: uppercase;
    // font-family: $atiza, $sans-serif;

    @include mq(desktop, min-width) {
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: .5px;
    }
}

.head {
    margin: 3rem 0 1.4rem 0;
    font-family: $atiza, $serif;
}

.subhead {
    margin: 1.6rem 0 .25rem 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: color(text, dark);
}

.section-inner {
    p {
        line-height: 1.4;
        margin: 1rem 0 .8rem 0;
    }
}