@import '../base/breakpoints';
@import '../variables/all';
.colorized {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem; // All colorized styles
    div::before {
        content: '';
        position: absolute;
        mix-blend-mode: multiply;
        top: 0;
        left: 0;
        width: 100%;
        height: 99%;
        opacity: .5; // Specific color styles
        .blue & {
            background-color: color(blue, base);
        }
        .orange & {
            background-color: color(orange, base);
        }
        .green & {
            background-color: color(green, base);
        }
    }
}

.colorized-jumbotron {
    margin: 0 0 3rem 0;
    position: relative;
    padding-top: 240px;
    @include mq(desktop, min-width) {
        padding-top: 30%;
    }
    &::before {
        content: '';
        position: absolute;
        mix-blend-mode: multiply;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .5; // Specific color styles
        .blue & {
            background-color: color(blue, base);
        }
        .orange & {
            background-color: color(orange, base);
        }
        .green & {
            background-color: color(green, base);
        }
    }
}

.jumbotron-text {
    position: absolute;
    color: color(text, white);
    top: 100px;
    left: 50px;
    @include mq(tablet, min-width) {
        left: 18%;
    }
    @include mq(desktop, min-width) {
        top: 50%;
        left: 25%;
    }
}