@import '../base/all';
@import '../variables/all';
.contact {
    color: color(text, white);
    text-align: center;
    padding: 10vh 22vw;
    @include mq(tablet, max-width) {
        padding: 10vh 6vw;
    }
    .blue & {
        background-color: color(blue, base);
    }
    .green & {
        background-color: color(green, base);
    }
    .orange & {
        background-color: color(orange, base);
    }
    &--header {
        font-size: 1.75em;
        margin-top: 0;
    }
    .button {
        background-color: color(text, base);
        color: color(text, white);
        transition: .3s ease-out;
        display: inline-block;
        padding: 18px 44px;
        margin-top: 2vh;
        &:hover {
            background-color: color(text, dark);
        }
    }
}