@import '../base/breakpoints';
@import '../variables/all';
.accent-bg {
    padding: 14vh 0;
    padding: 6.75rem 0;
    margin-bottom: 7rem;
    .blue & {
        background-color: rgba(color(blue, light), 0.1);
    }
    .green & {
        background-color: rgba(color(green, light), 0.1);
    }
    .orange & {
        background-color: rgba(color(orange, light), 0.1);
    }
}

.specialties {
    text-align: center;
    h3 {
        @include mq(desktop, min-width) {
            font-size: 1.4rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
    }
    p {
        @include mq(desktop, min-width) {
            font-size: 1.2rem;
            margin: 0 0 0.5rem 0;
        }
    }
    .spec-content {
        margin: 2rem 0 1rem 0;
        line-height: 1.4;
    }
}

.container.portfolio,
.container.blog {
    max-width: 80%;
}

.blog {
    padding: 0 0 5rem 0;
    img {
        border-radius: 6px;
    }
    li {
        list-style: none;
    }
    h3 {
        margin-bottom: .5rem;
    }
    h3,
    small {
        color: color(text, base);
    }
}